<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
<title>Trabalho I - WEB II</title>
</head>

<body>
    <div class="text-white bg-dark text-center border-0">
        <div class="card-header">
            <h3>Blog Trabalho I - WEB II</h3>
        </div>
    </div>