<%- include('../components/header.ejs')%>

<div class="flex-container">
    <div class="container">
        <form class="py-3 col-4" action="/users/userAuth" method="post">
            <div class="form-group">
                <label>CPF (Somente números)</label>
                <input type="text" minlength="11" maxlength='11' class="form-control" name="cpf" placeholder="Escreva seu CPF" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" maxlength='30' id="password" class="form-control" name="password" required placeholder="Escreva sua senha">
            </div>
            <div class="form-group">
                <input type="checkbox" name="mpassword" id="mpassword" onclick="mostrarPassword()">
                <label>Mostrar Senha</label>
            </div>
            <a class="dropdown-item" href="/users/add">Não possui um usuário? Cadastra-se </a>
            <button class="btn btn-outline-dark" type="submit">Entrar</button>
            
        </form>
    </div>
</div>


<%- include('../components/footer.ejs')%>